// Global variable and mixin //
$primary-color: #0d1b2a;
$text-color: #e0e1dd;
$secondary: #90a5c0;
$show-home-image: true;
$home-image: url(https://source.unsplash.com/1600x900/?minimalist);
$background-opacity: 0.75;

// effect mixin
@mixin easeOut {
	transition: all 0.5s ease;
}

// background mixin
@mixin background {
	@if $show-home-image {
		&#bg-image {
			background: $home-image;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;

			// the overlay
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 103%;
				overflow: hidden;
				background: rgba($primary-color, $background-opacity);
				z-index: -1;
			}
		}
	}
}

// media query mixin
@mixin mediaSm {
	@media screen and(max-width:500px) {
		@content;
	}
}
@mixin mediaMd {
	@media screen and(max-width:768px) {
		@content;
	}
}
@mixin mediaLg {
	@media screen and(min-width:769px) and (max-width: 1170px) {
		@content;
	}
}
@mixin mediaXl {
	@media screen and(min-width:1171px) {
		@content;
	}
}
