//  Widecreesns
@include mediaXl {
	.project {
		grid-template-columns: repeat(4, 1fr); // display four project
	}
}
//  Dekstop
@include mediaLg {
	.project {
		grid-template-columns: repeat(3, 1fr); //display three project
	}
}
//  Tablet and small laptop
@include mediaMd {
	main {
		align-items: center;
		text-align: center;
		.lg-heading {
			line-height: 1;
			margin-bottom: 2rem;
		}
	}

	// set overlay size and position
	.menu-nav,
	.menu-branding {
		float: none;
		width: 100%;

		&.show {
			transform: translate3d(0, 0, 0);
		}
	}

	.menu-nav {
		height: 75vh;
		transform: translate3d(-100%, 0, 0); //make it from left
		font-size: 24px;
	}

	.menu-branding {
		height: 25vh;
		transform: translate3d(100%, 0, 0); //from right

		.portrait {
			background: url("../img/nathansmall.jpg");
			width: 150px;
			height: 150px;
		}
	}

	// about page direction from row to column
	.about-info {
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.project {
		grid-template-columns: repeat(2, 1fr); //display two project
		h2 {
			font-size: 1.2rem;
		}
	}

	// contact page
	.boxes {
		div {
			font-size: 1.4rem;
		}
	}
}
//  Smartphone
@include mediaSm {
	main {
		h1,
		h2,
		h3 {
			&.lg-heading {
				font-size: 3.5rem;
			}
			&.sm-heading {
				font-size: 1.3rem;
			}
		}
	}

	.project {
		grid-template-columns: 1fr; //display one project
	}

	.portfolio {
		img{
			min-width: 240px;
			min-height: 200px;
		}
	}

	// contact page
	.boxes {
		div {
			font-size: 1rem;
			padding: 1.4rem 1.8rem;
			margin-bottom: 3rem;
			@include easeOut;

			&:hover {
				padding: 0.4rem 1.3rem;
				background: $secondary;

				span {
					color: $text-color;
				}
			}
		}
	}
}
