<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
			integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="css/main.css" />
		<title>About Me</title>
	</head>

	<body>
		<header>
			<div class="menu-btn">
				<div class="btn-line"></div>
				<div class="btn-line"></div>
				<div class="btn-line"></div>
			</div>

			<nav class="menu">
				<div class="menu-branding">
					<div class="portrait"></div>
				</div>
				<ul class="menu-nav">
					<li class="nav-item">
						<a href="index.html" class="nav-link"> Home </a>
					</li>
					<li class="nav-item">
						<a href="about.html" class="nav-link current"> About Me </a>
					</li>
					<li class="nav-item">
						<a href="work.html" class="nav-link"> My Work </a>
					</li>
					<li class="nav-item">
						<a href="contact.html" class="nav-link"> How To Reach Me </a>
					</li>
				</ul>
			</nav>
		</header>

		<main id="about">
			<h1 class="lg-heading">
				About
				<span class="text-secondary">Me</span>
			</h1>
			<h2 class="sm-heading">Let me tell you a few things...</h2>
			<div class="about-info">
				<img src="img/nathan.jpg" alt="John Doe" class="bio-image" />

				<div class="bio">
					<h3 class="text-secondary">BIO</h3>
					<p>
						A student who are enthusiastic and likes to learn new things.
						Currently conducting undergraduate education as a Computer Science
						student at Samratulangi University. Have a good communication skill
						and able to speak english. And also interest on Web Development.
						<br />
						In the past 2 years, has done several tasks and projects during
						college which helps to finalize skills and knowledge, also involved
						in several related organizations to prepare for my careers.
					</p>
				</div>
			</div>
		</main>

		<footer id="main-footer">Copyright &copy; 2018</footer>

		<script
			src="https://kit.fontawesome.com/09dbb9d3ed.js"
			crossorigin="anonymous"
		></script>
		<script src="js/main.js"></script>
	</body>
</html>
