<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
			integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
			crossorigin="anonymous"
		/>

		<link rel="stylesheet" href="css/main.css" />
		<title>My work</title>
	</head>

	<body>
		<header>
			<div class="menu-btn">
				<div class="btn-line"></div>
				<div class="btn-line"></div>
				<div class="btn-line"></div>
			</div>

			<nav class="menu">
				<div class="menu-branding">
					<div class="portrait"></div>
				</div>
				<ul class="menu-nav">
					<li class="nav-item">
						<a href="index.html" class="nav-link"> Home </a>
					</li>
					<li class="nav-item">
						<a href="about.html" class="nav-link"> About Me </a>
					</li>
					<li class="nav-item">
						<a href="skills.html" class="nav-link"> My Skills </a>
					</li>
					<li class="nav-item">
						<a href="work.html" class="nav-link current"> My Work </a>
					</li>
					<li class="nav-item">
						<a href="contact.html" class="nav-link"> How To Reach Me </a>
					</li>
				</ul>
			</nav>
		</header>

		<main id="work">
			<h1 class="lg-heading">
				My
				<span class="text-secondary">Work</span>
			</h1>
			<h2 class="sm-heading">Check out some of my project...</h2>
			<div class="project">
				<div class="item">
					<h2>Blog-py</h2>
					<a href="">
						<img src="img/Screenshot (49).png" alt="project" />
						<a href="https://pangkeyblog.herokuapp.com" class="btn-light">
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/Blog-web-app"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Login-system-js</h2>
					<a href="">
						<img src="img/Screenshot (69).png" alt="project" />
						<a
							href="https://github.com/Jonathanpangkey/Express-Login-EJS"
							class="btn-light"
						>
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/Express-Login-EJS"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Blog-js</h2>
					<a href="">
						<img src="img/Screenshot (60).png" alt="project" />
						<a href="https://nathanexpressapp.herokuapp.com" class="btn-light">
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/Blog-express"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Notes-py</h2>
					<a href="">
						<img src="img/Screenshot (47).png" alt="project" />
						<a href="https://nathannotes.herokuapp.com/" class="btn-light">
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/Notes-web-app"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Rest-API-js</h2>
					<a href="">
						<img src="img/Screenshot (51).png" alt="project" />
						<a
							href="https://github.com/Jonathanpangkey/ExpressRestAPI"
							class="btn-light"
						>
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/ExpressRestAPI"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>News-web-js</h2>
					<a href="">
						<img src="img/Screenshot (82).png" alt="project" />
						<a
							href="https://nathannews.herokuapp.com/"
							class="btn-light"
						>
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/News-website"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Movie-web</h2>
					<a href="">
						<img src="img/Screenshot (77).png" alt="project" />
						<a href="https://movienathan.netlify.app/" class="btn-light">
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/Movie-web"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Weather-web-js</h2>
					<a href="">
						<img src="img/Screenshot (74).png" alt="project" />
						<a href="https://nathanweather.netlify.app" class="btn-light">
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/WeatherApp-js"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Dailyreport-js</h2>
					<a href="">
						<img src="img/Screenshot (72).png" alt="project" />
						<a href="https://progressnathan.herokuapp.com" class="btn-light">
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/MyProgressWeb"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
				<div class="item">
					<h2>Glass-web</h2>
					<a href="">
						<img src="img/Screenshot (67).png" alt="project" />
						<a href="https://nathanglass.netlify.app/" class="btn-light">
							<i class="fas fa-eye"></i> Project
						</a>
						<a
							href="https://github.com/Jonathanpangkey/Glass-web"
							class="btn-dark"
						>
							<i class="fab fa-github"></i> Github
						</a>
					</a>
				</div>
			</div>
		</main>

		<footer id="main-footer">Copyright &copy; 2018</footer>

		<script
			src="https://kit.fontawesome.com/09dbb9d3ed.js"
			crossorigin="anonymous"
		></script>
		<script src="js/main.js"></script>
	</body>
</html>
